## DataFrames I

In [1]:
import pandas as pd

In [2]:
nba = pd.read_csv("nba.csv")

NaN indicates that these values are empty, blank or missing values in csv. If you opened in Excel, those cells would be blank but pandas indicates that with NaN.

Ellipses (...) indicate that the part has been cut out.

If there is NaN in a numerical column, it is assigned to be a floating point number by default.

## Shared Methods & Attributes

In [3]:
nba = pd.read_csv("nba.csv")

In [4]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [5]:
nba.tail()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
nba.index

RangeIndex(start=0, stop=458, step=1)

In [7]:
nba.values

array([['Avery Bradley', 'Boston Celtics', 0.0, ..., 180.0, 'Texas',
        7730337.0],
       ['Jae Crowder', 'Boston Celtics', 99.0, ..., 235.0, 'Marquette',
        6796117.0],
       ['John Holland', 'Boston Celtics', 30.0, ..., 205.0,
        'Boston University', nan],
       ...,
       ['Tibor Pleiss', 'Utah Jazz', 21.0, ..., 256.0, nan, 2900000.0],
       ['Jeff Withey', 'Utah Jazz', 24.0, ..., 231.0, 'Kansas', 947276.0],
       [nan, nan, nan, ..., nan, nan, nan]], dtype=object)

In [8]:
nba.shape

(458, 9)

In [9]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [10]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [11]:
nba.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [12]:
nba.axes

[RangeIndex(start=0, stop=458, step=1),
 Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
        'College', 'Salary'],
       dtype='object')]

In [13]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     373 non-null object
Salary      446 non-null float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [14]:
nba.get_dtype_counts()

float64    4
object     5
dtype: int64

## Differences between Shared Methods

In [15]:
pd.read_csv("revenue.csv")

      Date  New York  Los Angeles  Miami
0   1/1/16       985          122    499
1   1/2/16       738          788    534
2   1/3/16        14           20    933
3   1/4/16       730          904    885
4   1/5/16       114           71    253
5   1/6/16       936          502    497
6   1/7/16       123          996    115
7   1/8/16       935          492    886
8   1/9/16       846          954    823
9  1/10/16        54          285    216

In [16]:
pd.read_csv("revenue.csv", index_col = "Date")

         New York  Los Angeles  Miami
Date
1/1/16        985          122    499
1/2/16        738          788    534
1/3/16         14           20    933
1/4/16        730          904    885
1/5/16        114           71    253
1/6/16        936          502    497
1/7/16        123          996    115
1/8/16        935          492    886
1/9/16        846          954    823
1/10/16        54          285    216

index_col = x, makes this the index of the data frame

In [17]:
rev = pd.read_csv("revenue.csv", index_col = "Date")
rev.head(3)

        New York  Los Angeles  Miami
Date
1/1/16       985          122    499
1/2/16       738          788    534
1/3/16        14           20    933

In [18]:
s = pd.Series([1, 2, 3]) 
s

0    1
1    2
2    3
dtype: int64

Creating a series but using pandas.method() (Ex. pd.Series())

In [19]:
s = pd.Series([1, 2, 3]) 
s.sum()

6

In [20]:
rev.sum()

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [21]:
rev.sum(axis = 0)

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [22]:
rev.sum(axis = "index")

New York       5475
Los Angeles    5134
Miami          5641
dtype: int64

In [23]:
rev.sum(axis = 1)

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

In [24]:
rev.sum(axis = "columns")

Date
1/1/16     1606
1/2/16     2060
1/3/16      967
1/4/16     2519
1/5/16      438
1/6/16     1935
1/7/16     1234
1/8/16     2313
1/9/16     2623
1/10/16     555
dtype: int64

## Select One Column from a Dataframe

In [25]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [26]:
nba.Name

0                Avery Bradley
1                  Jae Crowder
2                 John Holland
3                  R.J. Hunter
4                Jonas Jerebko
5                 Amir Johnson
6                Jordan Mickey
7                 Kelly Olynyk
8                 Terry Rozier
9                 Marcus Smart
10             Jared Sullinger
11               Isaiah Thomas
12                 Evan Turner
13                 James Young
14                Tyler Zeller
15            Bojan Bogdanovic
16                Markel Brown
17             Wayne Ellington
18     Rondae Hollis-Jefferson
19                Jarrett Jack
20              Sergey Karasev
21             Sean Kilpatrick
22                Shane Larkin
23                 Brook Lopez
24            Chris McCullough
25                 Willie Reed
26             Thomas Robinson
27                  Henry Sims
28                Donald Sloan
29              Thaddeus Young
                ...
428            Al-Farouq Aminu
429            Pat Connaughton
430               Allen Crabbe
431                   Ed Davis
432           Maurice Harkless
433           Gerald Henderson
434                Chris Kaman
435             Meyers Leonard
436             Damian Lillard
437              C.J. McCollum
438               Luis Montero
439              Mason Plumlee
440              Brian Roberts
441                Noah Vonleh
442              Trevor Booker
443                 Trey Burke
444                 Alec Burks
445                 Dante Exum
446             Derrick Favors
447                Rudy Gobert
448             Gordon Hayward
449                Rodney Hood
450                 Joe Ingles
451              Chris Johnson
452                 Trey Lyles
453               Shelvin Mack
454                  Raul Neto
455               Tibor Pleiss
456                Jeff Withey
457                        NaN
Name: Name, Length: 458, dtype: object

Single column is extracted from the data frame as a series

In [27]:
nba.Number

0       0.0
1      99.0
2      30.0
3      28.0
4       8.0
5      90.0
6      55.0
7      41.0
8      12.0
9      36.0
10      7.0
11      4.0
12     11.0
13     13.0
14     44.0
15     44.0
16     22.0
17     21.0
18     24.0
19      2.0
20     10.0
21      6.0
22      0.0
23     11.0
24      1.0
25     33.0
26     41.0
27     14.0
28     15.0
29     30.0
       ...
428     8.0
429     5.0
430    23.0
431    17.0
432     4.0
433     9.0
434    35.0
435    11.0
436     0.0
437     3.0
438    44.0
439    24.0
440     2.0
441    21.0
442    33.0
443     3.0
444    10.0
445    11.0
446    15.0
447    27.0
448    20.0
449     5.0
450     2.0
451    23.0
452    41.0
453     8.0
454    25.0
455    21.0
456    24.0
457     NaN
Name: Number, Length: 458, dtype: float64

In [28]:
nba.Salary

0       7730337.0
1       6796117.0
2             NaN
3       1148640.0
4       5000000.0
5      12000000.0
6       1170960.0
7       2165160.0
8       1824360.0
9       3431040.0
10      2569260.0
11      6912869.0
12      3425510.0
13      1749840.0
14      2616975.0
15      3425510.0
16       845059.0
17      1500000.0
18      1335480.0
19      6300000.0
20      1599840.0
21       134215.0
22      1500000.0
23     19689000.0
24      1140240.0
25       947276.0
26       981348.0
27       947276.0
28       947276.0
29     11235955.0
          ...
428     8042895.0
429      625093.0
430      947276.0
431     6980802.0
432     2894059.0
433     6000000.0
434     5016000.0
435     3075880.0
436     4236287.0
437     2525160.0
438      525093.0
439     1415520.0
440     2854940.0
441     2637720.0
442     4775000.0
443     2658240.0
444     9463484.0
445     3777720.0
446    12000000.0
447     1175880.0
448    15409570.0
449     1348440.0
450     2050000.0
451      981348.0
452     2239800.0
453     2433333.0
454      900000.0
455     2900000.0
456      947276.0
457           NaN
Name: Salary, Length: 458, dtype: float64

In [29]:
nba.Name
nba.Number
nba.Salary
Output = None

Output = None, hides the output

In [30]:
nba["Name"]
nba["Number"]
nba["Salary"]

0       7730337.0
1       6796117.0
2             NaN
3       1148640.0
4       5000000.0
5      12000000.0
6       1170960.0
7       2165160.0
8       1824360.0
9       3431040.0
10      2569260.0
11      6912869.0
12      3425510.0
13      1749840.0
14      2616975.0
15      3425510.0
16       845059.0
17      1500000.0
18      1335480.0
19      6300000.0
20      1599840.0
21       134215.0
22      1500000.0
23     19689000.0
24      1140240.0
25       947276.0
26       981348.0
27       947276.0
28       947276.0
29     11235955.0
          ...
428     8042895.0
429      625093.0
430      947276.0
431     6980802.0
432     2894059.0
433     6000000.0
434     5016000.0
435     3075880.0
436     4236287.0
437     2525160.0
438      525093.0
439     1415520.0
440     2854940.0
441     2637720.0
442     4775000.0
443     2658240.0
444     9463484.0
445     3777720.0
446    12000000.0
447     1175880.0
448    15409570.0
449     1348440.0
450     2050000.0
451      981348.0
452     2239800.0
453     2433333.0
454      900000.0
455     2900000.0
456      947276.0
457           NaN
Name: Salary, Length: 458, dtype: float64

Ex. nba.Player Name, this wouldn't work because of the space. It's safer to use nba["Player Name"] because it accounts for the space

If you double click the space below the Out[#], you can minimize or hide the output

In [31]:
nba["Name"].head(5)

0    Avery Bradley
1      Jae Crowder
2     John Holland
3      R.J. Hunter
4    Jonas Jerebko
Name: Name, dtype: object

## Select Two or More Columns from a DataFrame

In [32]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [33]:
nba[["Name", "Team"]]

                        Name                    Team
0              Avery Bradley          Boston Celtics
1                Jae Crowder          Boston Celtics
2               John Holland          Boston Celtics
3                R.J. Hunter          Boston Celtics
4              Jonas Jerebko          Boston Celtics
5               Amir Johnson          Boston Celtics
6              Jordan Mickey          Boston Celtics
7               Kelly Olynyk          Boston Celtics
8               Terry Rozier          Boston Celtics
9               Marcus Smart          Boston Celtics
10           Jared Sullinger          Boston Celtics
11             Isaiah Thomas          Boston Celtics
12               Evan Turner          Boston Celtics
13               James Young          Boston Celtics
14              Tyler Zeller          Boston Celtics
15          Bojan Bogdanovic           Brooklyn Nets
16              Markel Brown           Brooklyn Nets
17           Wayne Ellington           Brooklyn Nets
18   Rondae Hollis-Jefferson           Brooklyn Nets
19              Jarrett Jack           Brooklyn Nets
20            Sergey Karasev           Brooklyn Nets
21           Sean Kilpatrick           Brooklyn Nets
22              Shane Larkin           Brooklyn Nets
23               Brook Lopez           Brooklyn Nets
24          Chris McCullough           Brooklyn Nets
25               Willie Reed           Brooklyn Nets
26           Thomas Robinson           Brooklyn Nets
27                Henry Sims           Brooklyn Nets
28              Donald Sloan           Brooklyn Nets
29            Thaddeus Young           Brooklyn Nets
..                       ...                     ...
428          Al-Farouq Aminu  Portland Trail Blazers
429          Pat Connaughton  Portland Trail Blazers
430             Allen Crabbe  Portland Trail Blazers
431                 Ed Davis  Portland Trail Blazers
432         Maurice Harkless  Portland Trail Blazers
433         Gerald Henderson  Portland Trail Blazers
434              Chris Kaman  Portland Trail Blazers
435           Meyers Leonard  Portland Trail Blazers
436           Damian Lillard  Portland Trail Blazers
437            C.J. McCollum  Portland Trail Blazers
438             Luis Montero  Portland Trail Blazers
439            Mason Plumlee  Portland Trail Blazers
440            Brian Roberts  Portland Trail Blazers
441              Noah Vonleh  Portland Trail Blazers
442            Trevor Booker               Utah Jazz
443               Trey Burke               Utah Jazz
444               Alec Burks               Utah Jazz
445               Dante Exum               Utah Jazz
446           Derrick Favors               Utah Jazz
447              Rudy Gobert               Utah Jazz
448           Gordon Hayward               Utah Jazz
449              Rodney Hood               Utah Jazz
450               Joe Ingles               Utah Jazz
451            Chris Johnson               Utah Jazz
452               Trey Lyles               Utah Jazz
453             Shelvin Mack               Utah Jazz
454                Raul Neto               Utah Jazz
455             Tibor Pleiss               Utah Jazz
456              Jeff Withey               Utah Jazz
457                      NaN                     NaN

[458 rows x 2 columns]

The outside bracket extracts the data and the inside brackets represent the internal python list

You can decide the order of the columns by writing the order within the brackets

In [34]:
nba[["Team", "Name"]].head(3)

             Team           Name
0  Boston Celtics  Avery Bradley
1  Boston Celtics    Jae Crowder
2  Boston Celtics   John Holland

In [35]:
nba[["Number", "College"]]

     Number            College
0       0.0              Texas
1      99.0          Marquette
2      30.0  Boston University
3      28.0      Georgia State
4       8.0                NaN
5      90.0                NaN
6      55.0                LSU
7      41.0            Gonzaga
8      12.0         Louisville
9      36.0     Oklahoma State
10      7.0         Ohio State
11      4.0         Washington
12     11.0         Ohio State
13     13.0           Kentucky
14     44.0     North Carolina
15     44.0                NaN
16     22.0     Oklahoma State
17     21.0     North Carolina
18     24.0            Arizona
19      2.0       Georgia Tech
20     10.0                NaN
21      6.0         Cincinnati
22      0.0         Miami (FL)
23     11.0           Stanford
24      1.0           Syracuse
25     33.0        Saint Louis
26     41.0             Kansas
27     14.0         Georgetown
28     15.0          Texas A&M
29     30.0       Georgia Tech
..      ...                ...
428     8.0        Wake Forest
429     5.0         Notre Dame
430    23.0         California
431    17.0     North Carolina
432     4.0         St. John's
433     9.0               Duke
434    35.0   Central Michigan
435    11.0           Illinois
436     0.0        Weber State
437     3.0             Lehigh
438    44.0     Westchester CC
439    24.0               Duke
440     2.0             Dayton
441    21.0            Indiana
442    33.0            Clemson
443     3.0           Michigan
444    10.0           Colorado
445    11.0                NaN
446    15.0       Georgia Tech
447    27.0                NaN
448    20.0             Butler
449     5.0               Duke
450     2.0                NaN
451    23.0             Dayton
452    41.0           Kentucky
453     8.0             Butler
454    25.0                NaN
455    21.0                NaN
456    24.0             Kansas
457     NaN                NaN

[458 rows x 2 columns]

In [36]:
nba[["Salary", "Team", "Name"]].head(3)

      Salary            Team           Name
0  7730337.0  Boston Celtics  Avery Bradley
1  6796117.0  Boston Celtics    Jae Crowder
2        NaN  Boston Celtics   John Holland

In [37]:
nba[["Salary", "Team", "Name"]].tail(3)

        Salary       Team          Name
455  2900000.0  Utah Jazz  Tibor Pleiss
456   947276.0  Utah Jazz   Jeff Withey
457        NaN        NaN           NaN

In [38]:
select = ["Salary", "Team", "Name"]
nba[select].head(3)

      Salary            Team           Name
0  7730337.0  Boston Celtics  Avery Bradley
1  6796117.0  Boston Celtics    Jae Crowder
2        NaN  Boston Celtics   John Holland

Another method to avoid using double brackets and to make it look cleaner

In [39]:
nba[select].tail(3)

        Salary       Team          Name
455  2900000.0  Utah Jazz  Tibor Pleiss
456   947276.0  Utah Jazz   Jeff Withey
457        NaN        NaN           NaN

## Add New Column to DataFrame

In [40]:
nba = pd.read_csv("nba.csv") 
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [41]:
nba["Salary"]

0       7730337.0
1       6796117.0
2             NaN
3       1148640.0
4       5000000.0
5      12000000.0
6       1170960.0
7       2165160.0
8       1824360.0
9       3431040.0
10      2569260.0
11      6912869.0
12      3425510.0
13      1749840.0
14      2616975.0
15      3425510.0
16       845059.0
17      1500000.0
18      1335480.0
19      6300000.0
20      1599840.0
21       134215.0
22      1500000.0
23     19689000.0
24      1140240.0
25       947276.0
26       981348.0
27       947276.0
28       947276.0
29     11235955.0
          ...
428     8042895.0
429      625093.0
430      947276.0
431     6980802.0
432     2894059.0
433     6000000.0
434     5016000.0
435     3075880.0
436     4236287.0
437     2525160.0
438      525093.0
439     1415520.0
440     2854940.0
441     2637720.0
442     4775000.0
443     2658240.0
444     9463484.0
445     3777720.0
446    12000000.0
447     1175880.0
448    15409570.0
449     1348440.0
450     2050000.0
451      981348.0
452     2239800.0
453     2433333.0
454      900000.0
455     2900000.0
456      947276.0
457           NaN
Name: Salary, Length: 458, dtype: float64

In [42]:
nba["Sport"] = "Basketball"
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sport
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Basketball
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Basketball
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Basketball

In [43]:
nba["League"] = "National Basketball Association"
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Sport,League
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,Basketball,National Basketball Association
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,Basketball,National Basketball Association
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,Basketball,National Basketball Association

In [44]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [45]:
nba.insert(3, column = "Sport", value = "Basketball")
nba.head(3)

,Name,Team,Number,Sport,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,Basketball,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,Basketball,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,Basketball,SG,27.0,6-5,205.0,Boston University,NaN

In [46]:
nba.insert(7, column = "League", value = "National Basketball Association")
nba.head(3)

,Name,Team,Number,Sport,Position,Age,Height,League,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,Basketball,PG,25.0,6-2,National Basketball Association,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,Basketball,SF,25.0,6-6,National Basketball Association,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,Basketball,SG,27.0,6-5,National Basketball Association,205.0,Boston University,NaN

## Broadcasting Operations

In [47]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [48]:
nba["Age"]

0      25.0
1      25.0
2      27.0
3      22.0
4      29.0
5      29.0
6      21.0
7      25.0
8      22.0
9      22.0
10     24.0
11     27.0
12     27.0
13     20.0
14     26.0
15     27.0
16     24.0
17     28.0
18     21.0
19     32.0
20     22.0
21     26.0
22     23.0
23     28.0
24     21.0
25     26.0
26     25.0
27     26.0
28     28.0
29     27.0
       ...
428    25.0
429    23.0
430    24.0
431    27.0
432    23.0
433    28.0
434    34.0
435    24.0
436    25.0
437    24.0
438    23.0
439    26.0
440    30.0
441    20.0
442    28.0
443    23.0
444    24.0
445    20.0
446    24.0
447    23.0
448    26.0
449    23.0
450    28.0
451    26.0
452    20.0
453    26.0
454    24.0
455    26.0
456    26.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [49]:
nba["Age"].add(5)

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
5      34.0
6      26.0
7      30.0
8      27.0
9      27.0
10     29.0
11     32.0
12     32.0
13     25.0
14     31.0
15     32.0
16     29.0
17     33.0
18     26.0
19     37.0
20     27.0
21     31.0
22     28.0
23     33.0
24     26.0
25     31.0
26     30.0
27     31.0
28     33.0
29     32.0
       ...
428    30.0
429    28.0
430    29.0
431    32.0
432    28.0
433    33.0
434    39.0
435    29.0
436    30.0
437    29.0
438    28.0
439    31.0
440    35.0
441    25.0
442    33.0
443    28.0
444    29.0
445    25.0
446    29.0
447    28.0
448    31.0
449    28.0
450    33.0
451    31.0
452    25.0
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [50]:
nba["Age"] + 5

0      30.0
1      30.0
2      32.0
3      27.0
4      34.0
5      34.0
6      26.0
7      30.0
8      27.0
9      27.0
10     29.0
11     32.0
12     32.0
13     25.0
14     31.0
15     32.0
16     29.0
17     33.0
18     26.0
19     37.0
20     27.0
21     31.0
22     28.0
23     33.0
24     26.0
25     31.0
26     30.0
27     31.0
28     33.0
29     32.0
       ...
428    30.0
429    28.0
430    29.0
431    32.0
432    28.0
433    33.0
434    39.0
435    29.0
436    30.0
437    29.0
438    28.0
439    31.0
440    35.0
441    25.0
442    33.0
443    28.0
444    29.0
445    25.0
446    29.0
447    28.0
448    31.0
449    28.0
450    33.0
451    31.0
452    25.0
453    31.0
454    29.0
455    31.0
456    31.0
457     NaN
Name: Age, Length: 458, dtype: float64

In [51]:
nba["Salary"].sub(5000000)

0       2730337.0
1       1796117.0
2             NaN
3      -3851360.0
4             0.0
5       7000000.0
6      -3829040.0
7      -2834840.0
8      -3175640.0
9      -1568960.0
10     -2430740.0
11      1912869.0
12     -1574490.0
13     -3250160.0
14     -2383025.0
15     -1574490.0
16     -4154941.0
17     -3500000.0
18     -3664520.0
19      1300000.0
20     -3400160.0
21     -4865785.0
22     -3500000.0
23     14689000.0
24     -3859760.0
25     -4052724.0
26     -4018652.0
27     -4052724.0
28     -4052724.0
29      6235955.0
          ...
428     3042895.0
429    -4374907.0
430    -4052724.0
431     1980802.0
432    -2105941.0
433     1000000.0
434       16000.0
435    -1924120.0
436     -763713.0
437    -2474840.0
438    -4474907.0
439    -3584480.0
440    -2145060.0
441    -2362280.0
442     -225000.0
443    -2341760.0
444     4463484.0
445    -1222280.0
446     7000000.0
447    -3824120.0
448    10409570.0
449    -3651560.0
450    -2950000.0
451    -4018652.0
452    -2760200.0
453    -2566667.0
454    -4100000.0
455    -2100000.0
456    -4052724.0
457           NaN
Name: Salary, Length: 458, dtype: float64

In [52]:
nba["Salary"] - 5000000

0       2730337.0
1       1796117.0
2             NaN
3      -3851360.0
4             0.0
5       7000000.0
6      -3829040.0
7      -2834840.0
8      -3175640.0
9      -1568960.0
10     -2430740.0
11      1912869.0
12     -1574490.0
13     -3250160.0
14     -2383025.0
15     -1574490.0
16     -4154941.0
17     -3500000.0
18     -3664520.0
19      1300000.0
20     -3400160.0
21     -4865785.0
22     -3500000.0
23     14689000.0
24     -3859760.0
25     -4052724.0
26     -4018652.0
27     -4052724.0
28     -4052724.0
29      6235955.0
          ...
428     3042895.0
429    -4374907.0
430    -4052724.0
431     1980802.0
432    -2105941.0
433     1000000.0
434       16000.0
435    -1924120.0
436     -763713.0
437    -2474840.0
438    -4474907.0
439    -3584480.0
440    -2145060.0
441    -2362280.0
442     -225000.0
443    -2341760.0
444     4463484.0
445    -1222280.0
446     7000000.0
447    -3824120.0
448    10409570.0
449    -3651560.0
450    -2950000.0
451    -4018652.0
452    -2760200.0
453    -2566667.0
454    -4100000.0
455    -2100000.0
456    -4052724.0
457           NaN
Name: Salary, Length: 458, dtype: float64

In [53]:
nba["Weight"].mul(.453592)

0       81.646560
1      106.594120
2       92.986360
3       83.914520
4      104.779752
5      108.862080
6      106.594120
7      107.954896
8       86.182480
9       99.790240
10     117.933920
11      83.914520
12      99.790240
13      97.522280
14     114.758776
15      97.975872
16      86.182480
17      90.718400
18      99.790240
19      90.718400
20      94.347136
21      99.336648
22      79.378600
23     124.737800
24      90.718400
25      99.790240
26     107.501304
27     112.490816
28      92.986360
29     100.243832
          ...
428     97.522280
429     93.439952
430     95.254320
431    108.862080
432     97.522280
433     97.522280
434    120.201880
435    111.130040
436     88.450440
437     90.718400
438     83.914520
439    106.594120
440     78.471416
441    108.862080
442    103.418976
443     86.636072
444     97.068688
445     86.182480
446    120.201880
447    111.130040
448    102.511792
449     93.439952
450    102.511792
451     93.439952
452    106.140528
453     92.079176
454     81.192968
455    116.119552
456    104.779752
457           NaN
Name: Weight, Length: 458, dtype: float64

In [54]:
nba["Weight"] * 0.453592

0       81.646560
1      106.594120
2       92.986360
3       83.914520
4      104.779752
5      108.862080
6      106.594120
7      107.954896
8       86.182480
9       99.790240
10     117.933920
11      83.914520
12      99.790240
13      97.522280
14     114.758776
15      97.975872
16      86.182480
17      90.718400
18      99.790240
19      90.718400
20      94.347136
21      99.336648
22      79.378600
23     124.737800
24      90.718400
25      99.790240
26     107.501304
27     112.490816
28      92.986360
29     100.243832
          ...
428     97.522280
429     93.439952
430     95.254320
431    108.862080
432     97.522280
433     97.522280
434    120.201880
435    111.130040
436     88.450440
437     90.718400
438     83.914520
439    106.594120
440     78.471416
441    108.862080
442    103.418976
443     86.636072
444     97.068688
445     86.182480
446    120.201880
447    111.130040
448    102.511792
449     93.439952
450    102.511792
451     93.439952
452    106.140528
453     92.079176
454     81.192968
455    116.119552
456    104.779752
457           NaN
Name: Weight, Length: 458, dtype: float64

In [55]:
nba["Weight in Kilograms"] = nba["Weight"] * 0.453592

In [56]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.64656
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,106.59412
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,92.98636

In [57]:
nba["Salary"].div(1000000)

0       7.730337
1       6.796117
2            NaN
3       1.148640
4       5.000000
5      12.000000
6       1.170960
7       2.165160
8       1.824360
9       3.431040
10      2.569260
11      6.912869
12      3.425510
13      1.749840
14      2.616975
15      3.425510
16      0.845059
17      1.500000
18      1.335480
19      6.300000
20      1.599840
21      0.134215
22      1.500000
23     19.689000
24      1.140240
25      0.947276
26      0.981348
27      0.947276
28      0.947276
29     11.235955
         ...
428     8.042895
429     0.625093
430     0.947276
431     6.980802
432     2.894059
433     6.000000
434     5.016000
435     3.075880
436     4.236287
437     2.525160
438     0.525093
439     1.415520
440     2.854940
441     2.637720
442     4.775000
443     2.658240
444     9.463484
445     3.777720
446    12.000000
447     1.175880
448    15.409570
449     1.348440
450     2.050000
451     0.981348
452     2.239800
453     2.433333
454     0.900000
455     2.900000
456     0.947276
457          NaN
Name: Salary, Length: 458, dtype: float64

In [58]:
nba["Salary"] / 1000000

0       7.730337
1       6.796117
2            NaN
3       1.148640
4       5.000000
5      12.000000
6       1.170960
7       2.165160
8       1.824360
9       3.431040
10      2.569260
11      6.912869
12      3.425510
13      1.749840
14      2.616975
15      3.425510
16      0.845059
17      1.500000
18      1.335480
19      6.300000
20      1.599840
21      0.134215
22      1.500000
23     19.689000
24      1.140240
25      0.947276
26      0.981348
27      0.947276
28      0.947276
29     11.235955
         ...
428     8.042895
429     0.625093
430     0.947276
431     6.980802
432     2.894059
433     6.000000
434     5.016000
435     3.075880
436     4.236287
437     2.525160
438     0.525093
439     1.415520
440     2.854940
441     2.637720
442     4.775000
443     2.658240
444     9.463484
445     3.777720
446    12.000000
447     1.175880
448    15.409570
449     1.348440
450     2.050000
451     0.981348
452     2.239800
453     2.433333
454     0.900000
455     2.900000
456     0.947276
457          NaN
Name: Salary, Length: 458, dtype: float64

In [59]:
nba["Salary in Millions"] = nba["Salary"] / 1000000

In [60]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Weight in Kilograms,Salary in Millions
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,81.64656,7.730337
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,106.59412,6.796117
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN,92.98636,NaN

## A Review of the .value_counts() Method

In [61]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [62]:
nba["Team"].value_counts()

New Orleans Pelicans      19
Memphis Grizzlies         18
New York Knicks           16
Milwaukee Bucks           16
Brooklyn Nets             15
Chicago Bulls             15
Phoenix Suns              15
Los Angeles Lakers        15
Indiana Pacers            15
Toronto Raptors           15
Charlotte Hornets         15
Dallas Mavericks          15
Boston Celtics            15
Houston Rockets           15
Portland Trail Blazers    15
Atlanta Hawks             15
Detroit Pistons           15
Utah Jazz                 15
Oklahoma City Thunder     15
Golden State Warriors     15
Philadelphia 76ers        15
San Antonio Spurs         15
Miami Heat                15
Denver Nuggets            15
Sacramento Kings          15
Los Angeles Clippers      15
Washington Wizards        15
Cleveland Cavaliers       15
Minnesota Timberwolves    14
Orlando Magic             14
Name: Team, dtype: int64

In [63]:
nba["Position"].value_counts()

SG    102
PF    100
PG     92
SF     85
C      78
Name: Position, dtype: int64

In [64]:
nba["Position"].value_counts().head(1)

SG    102
Name: Position, dtype: int64

In [65]:
nba["Weight"].value_counts()

220.0    29
240.0    28
250.0    26
200.0    25
205.0    22
245.0    19
235.0    17
210.0    17
225.0    17
230.0    17
185.0    16
190.0    16
195.0    15
215.0    13
175.0    12
260.0    10
255.0    10
265.0     8
228.0     7
270.0     6
275.0     5
206.0     5
189.0     4
218.0     4
194.0     4
212.0     4
180.0     4
186.0     4
237.0     4
226.0     3
         ..
207.0     1
216.0     1
183.0     1
280.0     1
256.0     1
279.0     1
241.0     1
290.0     1
244.0     1
173.0     1
223.0     1
161.0     1
221.0     1
170.0     1
193.0     1
233.0     1
188.0     1
243.0     1
192.0     1
229.0     1
249.0     1
217.0     1
202.0     1
252.0     1
254.0     1
278.0     1
227.0     1
239.0     1
289.0     1
307.0     1
Name: Weight, Length: 87, dtype: int64

In [66]:
nba["Weight"].value_counts().tail()

278.0    1
227.0    1
239.0    1
289.0    1
307.0    1
Name: Weight, dtype: int64

In [67]:
nba["Salary"].value_counts()

947276.0      31
845059.0      18
525093.0      13
981348.0       6
1100602.0      5
16407500.0     5
5000000.0      5
12000000.0     5
8000000.0      5
4000000.0      5
3000000.0      4
7000000.0      4
2814000.0      4
1000000.0      4
19689000.0     4
200600.0       3
8500000.0      3
2500000.0      3
1015421.0      3
2854940.0      3
13500000.0     3
5543725.0      3
2288205.0      2
1270964.0      2
2900000.0      2
1007026.0      2
111444.0       2
13000000.0     2
1500000.0      2
1842000.0      2
              ..
2239800.0      1
1474440.0      1
19688000.0     1
7900000.0      1
2008748.0      1
13800000.0     1
2841960.0      1
1404600.0      1
1584480.0      1
273038.0       1
9213483.0      1
3272091.0      1
3075880.0      1
2250000.0      1
4626960.0      1
1304520.0      1
12100000.0     1
7500000.0      1
295327.0       1
2836186.0      1
6486486.0      1
5016000.0      1
3333333.0      1
1824360.0      1
8042895.0      1
1242720.0      1
2489530.0      1
5103120.0      1
9463484.0      1
700902.0       1
Name: Salary, Length: 309, dtype: int64

## Drop  Rows with Null Values

In [68]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [69]:
nba.tail(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [70]:
nba.dropna()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
30,Arron Afflalo,New York Knicks,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0
31,Lou Amundson,New York Knicks,17.0,PF,33.0,6-9,220.0,UNLV,1635476.0
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0
35,Cleanthony Early,New York Knicks,11.0,SF,25.0,6-8,210.0,Wichita State,845059.0
36,Langston Galloway,New York Knicks,2.0,SG,24.0,6-2,200.0,Saint Joseph's,845059.0
...,...,...,...,...,...,...,...,...,...
422,Cameron Payne,Oklahoma City Thunder,22.0,PG,21.0,6-3,185.0,Murray State,2021520.0
423,Andre Roberson,Oklahoma City Thunder,21.0,SG,24.0,6-7,210.0,Colorado,1210800.0
424,Kyle Singler,Oklahoma City Thunder,5.0,SF,28.0,6-8,228.0,Duke,4500000.0
425,Dion Waiters,Oklahoma City Thunder,3.0,SG,24.0,6-4,220.0,Syracuse,5138430.0
426,Russell Westbrook,Oklahoma City Thunder,0.0,PG,27.0,6-3,200.0,UCLA,16744218.0
427,Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

.dropna() drops rows that has the value NaN

In [71]:
nba.dropna(how = "all")

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
427,Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

.dropna(how = "all") only drops rows that have NaN in all columns but keeps the data that have NaN in some columns

In [72]:
nba.dropna(how = "all", inplace = True)
nba.tail(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [73]:
nba.dropna(axis = 1)

,Name,Team,Number,Position,Age,Height,Weight
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0
...,...,...,...,...,...,...,...
427,Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0

Remove any columns that have the value NaN

In [74]:
nba.dropna(axis = "columns")

,Name,Team,Number,Position,Age,Height,Weight
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0
...,...,...,...,...,...,...,...
427,Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0

In [75]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [76]:
nba.dropna(subset = ["Salary"])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,NaN,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,NaN,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
30,Arron Afflalo,New York Knicks,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0
...,...,...,...,...,...,...,...,...,...
427,Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,NaN,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,NaN,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,NaN,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

.dropna(subset = ["Column Name"]) drops the rows within the listed column that has NaN

In [77]:
nba.dropna(subset = ["Salary", "College"])

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
30,Arron Afflalo,New York Knicks,4.0,SG,30.0,6-5,210.0,UCLA,8000000.0
31,Lou Amundson,New York Knicks,17.0,PF,33.0,6-9,220.0,UNLV,1635476.0
33,Carmelo Anthony,New York Knicks,7.0,SF,32.0,6-8,240.0,Syracuse,22875000.0
35,Cleanthony Early,New York Knicks,11.0,SF,25.0,6-8,210.0,Wichita State,845059.0
36,Langston Galloway,New York Knicks,2.0,SG,24.0,6-2,200.0,Saint Joseph's,845059.0
...,...,...,...,...,...,...,...,...,...
422,Cameron Payne,Oklahoma City Thunder,22.0,PG,21.0,6-3,185.0,Murray State,2021520.0
423,Andre Roberson,Oklahoma City Thunder,21.0,SG,24.0,6-7,210.0,Colorado,1210800.0
424,Kyle Singler,Oklahoma City Thunder,5.0,SF,28.0,6-8,228.0,Duke,4500000.0
425,Dion Waiters,Oklahoma City Thunder,3.0,SG,24.0,6-4,220.0,Syracuse,5138430.0
426,Russell Westbrook,Oklahoma City Thunder,0.0,PG,27.0,6-3,200.0,UCLA,16744218.0
427,Cliff Alexander,Portland Trail Blazers,34.0,PF,20.0,6-8,240.0,Kansas,525093.0
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

## Fill in Null Values with the .fillna() Method

In [78]:
nba = pd.read_csv("nba.csv")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN

In [79]:
nba.fillna(0)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,0,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,0,12000000.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
8,Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
9,Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
10,Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
11,Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
12,Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
13,James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
14,Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0
15,Bojan Bogdanovic,Brooklyn Nets,44.0,SG,27.0,6-8,216.0,0,3425510.0
16,Markel Brown,Brooklyn Nets,22.0,SG,24.0,6-3,190.0,Oklahoma State,845059.0
17,Wayne Ellington,Brooklyn Nets,21.0,SG,28.0,6-4,200.0,North Carolina,1500000.0
18,Rondae Hollis-Jefferson,Brooklyn Nets,24.0,SG,21.0,6-7,220.0,Arizona,1335480.0
19,Jarrett Jack,Brooklyn Nets,2.0,PG,32.0,6-3,200.0,Georgia Tech,6300000.0
20,Sergey Karasev,Brooklyn Nets,10.0,SG,22.0,6-7,208.0,0,1599840.0
21,Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0
22,Shane Larkin,Brooklyn Nets,0.0,PG,23.0,5-11,175.0,Miami (FL),1500000.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
24,Chris McCullough,Brooklyn Nets,1.0,PF,21.0,6-11,200.0,Syracuse,1140240.0
25,Willie Reed,Brooklyn Nets,33.0,PF,26.0,6-10,220.0,Saint Louis,947276.0
26,Thomas Robinson,Brooklyn Nets,41.0,PF,25.0,6-10,237.0,Kansas,981348.0
27,Henry Sims,Brooklyn Nets,14.0,C,26.0,6-10,248.0,Georgetown,947276.0
28,Donald Sloan,Brooklyn Nets,15.0,PG,28.0,6-3,205.0,Texas A&M,947276.0
29,Thaddeus Young,Brooklyn Nets,30.0,PF,27.0,6-8,221.0,Georgia Tech,11235955.0
...,...,...,...,...,...,...,...,...,...
428,Al-Farouq Aminu,Portland Trail Blazers,8.0,SF,25.0,6-9,215.0,Wake Forest,8042895.0
429,Pat Connaughton,Portland Trail Blazers,5.0,SG,23.0,6-5,206.0,Notre Dame,625093.0
430,Allen Crabbe,Portland Trail Blazers,23.0,SG,24.0,6-6,210.0,California,947276.0
431,Ed Davis,Portland Trail Blazers,17.0,C,27.0,6-10,240.0,North Carolina,6980802.0
432,Maurice Harkless,Portland Trail Blazers,4.0,SF,23.0,6-9,215.0,St. John's,2894059.0
433,Gerald Henderson,Portland Trail Blazers,9.0,SG,28.0,6-5,215.0,Duke,6000000.0
434,Chris Kaman,Portland Trail Blazers,35.0,C,34.0,7-0,265.0,Central Michigan,5016000.0
435,Meyers Leonard,Portland Trail Blazers,11.0,PF,24.0,7-1,245.0,Illinois,3075880.0
436,Damian Lillard,Portland Trail Blazers,0.0,PG,25.0,6-3,195.0,Weber State,4236287.0
437,C.J. McCollum,Portland Trail Blazers,3.0,SG,24.0,6-4,200.0,Lehigh,2525160.0
438,Luis Montero,Portland Trail Blazers,44.0,SG,23.0,6-7,185.0,Westchester CC,525093.0
439,Mason Plumlee,Portland Trail Blazers,24.0,C,26.0,6-11,235.0,Duke,1415520.0
440,Brian Roberts,Portland Trail Blazers,2.0,PG,30.0,6-1,173.0,Dayton,2854940.0
441,Noah Vonleh,Portland Trail Blazers,21.0,PF,20.0,6-9,240.0,Indiana,2637720.0
442,Trevor Booker,Utah Jazz,33.0,PF,28.0,6-8,228.0,Clemson,4775000.0
443,Trey Burke,Utah Jazz,3.0,PG,23.0,6-1,191.0,Michigan,2658240.0
444,Alec Burks,Utah Jazz,10.0,SG,24.0,6-6,214.0,Colorado,9463484.0
445,Dante Exum,Utah Jazz,11.0,PG,20.0,6-6,190.0,0,3777720.0
446,Derrick Favors,Utah Jazz,15.0,PF,24.0,6-10,265.0,Georgia Tech,12000000.0
447,Rudy Gobert,Utah Jazz,27.0,C,23.0,7-1,245.0,0,1175880.0
448,Gordon Hayward,Utah Jazz,20.0,SF,26.0,6-8,226.0,Butler,15409570.0
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
450,Joe Ingles,Utah Jazz,2.0,SF,28.0,6-8,226.0,0,2050000.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,0,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,0,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,0,0,0.0,0,0.0,0,0.0,0,0.0

.fillna() fills the NaN value with the a value listed in the parentheses

You have to be careful and make sure which columns are numerical and categorical because .fillna() doesn't account for that on its own

In [80]:
nba["Salary"].fillna(0, inplace = True)
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [81]:
nba["College"].fillna("No College", inplace = True)
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,No College,5000000.0

The inplace = True is used to modify the fill which will afffect the original data frame with the modified changes

## The .astype() Method

In [86]:
nba = pd.read_csv("nba.csv").dropna(how = "all")
nba["Salary"].fillna(0, inplace = True)
nba["College"].fillna("None", inplace = True)
nba.head(6)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,None,5000000.0
5,Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,None,12000000.0

In [87]:
nba.dtypes

Name         object
Team         object
Number      float64
Position     object
Age         float64
Height       object
Weight      float64
College      object
Salary      float64
dtype: object

In [91]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 457 entries, 0 to 456
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null float64
Position    457 non-null object
Age         457 non-null float64
Height      457 non-null object
Weight      457 non-null float64
College     457 non-null object
Salary      457 non-null float64
dtypes: float64(4), object(5)
memory usage: 35.7+ KB

In [92]:
nba["Salary"]

0       7730337.0
1       6796117.0
2             0.0
3       1148640.0
4       5000000.0
5      12000000.0
6       1170960.0
7       2165160.0
8       1824360.0
9       3431040.0
10      2569260.0
11      6912869.0
12      3425510.0
13      1749840.0
14      2616975.0
15      3425510.0
16       845059.0
17      1500000.0
18      1335480.0
19      6300000.0
20      1599840.0
21       134215.0
22      1500000.0
23     19689000.0
24      1140240.0
25       947276.0
26       981348.0
27       947276.0
28       947276.0
29     11235955.0
          ...
427      525093.0
428     8042895.0
429      625093.0
430      947276.0
431     6980802.0
432     2894059.0
433     6000000.0
434     5016000.0
435     3075880.0
436     4236287.0
437     2525160.0
438      525093.0
439     1415520.0
440     2854940.0
441     2637720.0
442     4775000.0
443     2658240.0
444     9463484.0
445     3777720.0
446    12000000.0
447     1175880.0
448    15409570.0
449     1348440.0
450     2050000.0
451      981348.0
452     2239800.0
453     2433333.0
454      900000.0
455     2900000.0
456      947276.0
Name: Salary, Length: 457, dtype: float64

In [93]:
nba["Salary"].astype("int")

0       7730337
1       6796117
2             0
3       1148640
4       5000000
5      12000000
6       1170960
7       2165160
8       1824360
9       3431040
10      2569260
11      6912869
12      3425510
13      1749840
14      2616975
15      3425510
16       845059
17      1500000
18      1335480
19      6300000
20      1599840
21       134215
22      1500000
23     19689000
24      1140240
25       947276
26       981348
27       947276
28       947276
29     11235955
         ...
427      525093
428     8042895
429      625093
430      947276
431     6980802
432     2894059
433     6000000
434     5016000
435     3075880
436     4236287
437     2525160
438      525093
439     1415520
440     2854940
441     2637720
442     4775000
443     2658240
444     9463484
445     3777720
446    12000000
447     1175880
448    15409570
449     1348440
450     2050000
451      981348
452     2239800
453     2433333
454      900000
455     2900000
456      947276
Name: Salary, Length: 457, dtype: int32

In [95]:
nba["Salary"] = nba["Salary"].astype("int")
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,0

In [96]:
nba["Number"].astype("int")

0       0
1      99
2      30
3      28
4       8
5      90
6      55
7      41
8      12
9      36
10      7
11      4
12     11
13     13
14     44
15     44
16     22
17     21
18     24
19      2
20     10
21      6
22      0
23     11
24      1
25     33
26     41
27     14
28     15
29     30
       ..
427    34
428     8
429     5
430    23
431    17
432     4
433     9
434    35
435    11
436     0
437     3
438    44
439    24
440     2
441    21
442    33
443     3
444    10
445    11
446    15
447    27
448    20
449     5
450     2
451    23
452    41
453     8
454    25
455    21
456    24
Name: Number, Length: 457, dtype: int32

In [99]:
nba["Number"] = nba["Number"].astype("int")

In [100]:
nba["Age"] = nba["Age"].astype("int")

In [101]:
nba.head(3)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180.0,Texas,7730337
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235.0,Marquette,6796117
2,John Holland,Boston Celtics,30,SG,27,6-5,205.0,Boston University,0

In [102]:
nba["Age"].astype("float")

0      25.0
1      25.0
2      27.0
3      22.0
4      29.0
5      29.0
6      21.0
7      25.0
8      22.0
9      22.0
10     24.0
11     27.0
12     27.0
13     20.0
14     26.0
15     27.0
16     24.0
17     28.0
18     21.0
19     32.0
20     22.0
21     26.0
22     23.0
23     28.0
24     21.0
25     26.0
26     25.0
27     26.0
28     28.0
29     27.0
       ...
427    20.0
428    25.0
429    23.0
430    24.0
431    27.0
432    23.0
433    28.0
434    34.0
435    24.0
436    25.0
437    24.0
438    23.0
439    26.0
440    30.0
441    20.0
442    28.0
443    23.0
444    24.0
445    20.0
446    24.0
447    23.0
448    26.0
449    23.0
450    28.0
451    26.0
452    20.0
453    26.0
454    24.0
455    26.0
456    26.0
Name: Age, Length: 457, dtype: float64

In [103]:
nba["Position"].nunique()

5

In [104]:
nba["Position"].astype("category")

0      PG
1      SF
2      SG
3      SG
4      PF
5      PF
6      PF
7       C
8      PG
9      PG
10      C
11     PG
12     SG
13     SG
14      C
15     SG
16     SG
17     SG
18     SG
19     PG
20     SG
21     SG
22     PG
23      C
24     PF
25     PF
26     PF
27      C
28     PG
29     PF
       ..
427    PF
428    SF
429    SG
430    SG
431     C
432    SF
433    SG
434     C
435    PF
436    PG
437    SG
438    SG
439     C
440    PG
441    PF
442    PF
443    PG
444    SG
445    PG
446    PF
447     C
448    SF
449    SG
450    SF
451    SF
452    PF
453    PG
454    PG
455     C
456     C
Name: Position, Length: 457, dtype: category
Categories (5, object): [C, PF, PG, SF, SG]

In [106]:
nba["Position"] = nba["Position"].astype("category")

In [107]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 457 entries, 0 to 456
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null object
Number      457 non-null int32
Position    457 non-null category
Age         457 non-null int32
Height      457 non-null object
Weight      457 non-null float64
College     457 non-null object
Salary      457 non-null int32
dtypes: category(1), float64(1), int32(3), object(4)
memory usage: 47.4+ KB

In [108]:
nba["Team"].nunique()

30

In [110]:
nba["Team"].astype("category")

0              Boston Celtics
1              Boston Celtics
2              Boston Celtics
3              Boston Celtics
4              Boston Celtics
5              Boston Celtics
6              Boston Celtics
7              Boston Celtics
8              Boston Celtics
9              Boston Celtics
10             Boston Celtics
11             Boston Celtics
12             Boston Celtics
13             Boston Celtics
14             Boston Celtics
15              Brooklyn Nets
16              Brooklyn Nets
17              Brooklyn Nets
18              Brooklyn Nets
19              Brooklyn Nets
20              Brooklyn Nets
21              Brooklyn Nets
22              Brooklyn Nets
23              Brooklyn Nets
24              Brooklyn Nets
25              Brooklyn Nets
26              Brooklyn Nets
27              Brooklyn Nets
28              Brooklyn Nets
29              Brooklyn Nets
                ...
427    Portland Trail Blazers
428    Portland Trail Blazers
429    Portland Trail Blazers
430    Portland Trail Blazers
431    Portland Trail Blazers
432    Portland Trail Blazers
433    Portland Trail Blazers
434    Portland Trail Blazers
435    Portland Trail Blazers
436    Portland Trail Blazers
437    Portland Trail Blazers
438    Portland Trail Blazers
439    Portland Trail Blazers
440    Portland Trail Blazers
441    Portland Trail Blazers
442                 Utah Jazz
443                 Utah Jazz
444                 Utah Jazz
445                 Utah Jazz
446                 Utah Jazz
447                 Utah Jazz
448                 Utah Jazz
449                 Utah Jazz
450                 Utah Jazz
451                 Utah Jazz
452                 Utah Jazz
453                 Utah Jazz
454                 Utah Jazz
455                 Utah Jazz
456                 Utah Jazz
Name: Team, Length: 457, dtype: category
Categories (30, object): [Atlanta Hawks, Boston Celtics, Brooklyn Nets, Charlotte Hornets, ..., San Antonio Spurs, Toronto Raptors, Utah Jazz, Washington Wizards]

In [111]:
nba["Team"] = nba["Team"].astype("category")

In [112]:
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0,PG,25,6-2,180.0,Texas,7730337
1,Jae Crowder,Boston Celtics,99,SF,25,6-6,235.0,Marquette,6796117
2,John Holland,Boston Celtics,30,SG,27,6-5,205.0,Boston University,0
3,R.J. Hunter,Boston Celtics,28,SG,22,6-5,185.0,Georgia State,1148640
4,Jonas Jerebko,Boston Celtics,8,PF,29,6-10,231.0,None,5000000

In [113]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 457 entries, 0 to 456
Data columns (total 9 columns):
Name        457 non-null object
Team        457 non-null category
Number      457 non-null int32
Position    457 non-null category
Age         457 non-null int32
Height      457 non-null object
Weight      457 non-null float64
College     457 non-null object
Salary      457 non-null int32
dtypes: category(2), float64(1), int32(3), object(3)
memory usage: 45.8+ KB